@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 16px;
  font-family: sans-serif;
  background-image: url(images/bg-intro-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: hsl(0, 100%, 74%);
  font-weight: 400;
}

main {
  min-height: 100vh;
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 50px;
  padding: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  color: white;
  gap: 20px;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 40px;
  gap: 15px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0  7px 0 hsl(249, 10%, 26%, 0.2);
}

input, button {
  display: block;
  width: 100%;
  padding: 15px;
  border: 1px solid hsl(246, 25%, 77%);
  border-radius: 5px;
  font-weight: 600;
}

button {
  background-color: hsl(248, 32%, 49%);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0  7px 0 hsl(249, 10%, 26%, 0.2);
  color: white;
}

button:hover {
  background-color: hsl(248, 32%, 59%);
}

label {
  font-size: .7rem;
  color: hsl(246, 25%, 77%);
}

input[type="submit"]{
  background: linear-gradient(hsl(154, 59%, 51%) 95%, hsl(154, 59%, 44%) 5%);
  border: none;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 500;
}

input {
  outline: none;
  color: hsl(249, 10%, 26%);
  padding: 15px 30px;
}

input:focus {
  border-color: hsl(248, 32%, 49%);
}

input[type=submit], button{
  font-size: 1rem;
}

input[type=submit]:hover {
  opacity: 0.75;
}

.input-group {
  position: relative;
  width: 100%;
}

.input-group img {
  position: absolute;
  top: 20px;
  right: 30px;
  display: none;
}

.err {
  font-size: .75rem;
  font-style: italic;
  text-align: right;
  line-height: 1.25rem;
  color: hsl(0, 100%, 74%);
  font-weight: 500;
}

@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr;
    margin: 50px 0;
  }

  .info {
    text-align: center;
  }

  h1 {
    font-size: 2rem;
  }

  form {
    padding: 20px;
  }

  label {
    text-align: center;
  }

  button {
    padding: 15px 40px;
  }

  input{
    padding: 15px;
  }
}